@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">SEPDI</h1>
    </div>
    <button class="btn-primary m-3">
        Agregar nuevo
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Concentracion</th>
                <th scope="col">Forma farmaceutíca</th>
                <th scope="col">Precio</th>
                <th scope="col">Presentación </th>
                <th scope="col">Habilitado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>
        </tbody>
    </table>
</div>






