@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form id="formLogin">
    <div class="form-outline mb-5">
        <label class="form-label" for="user">Usuario</label>
        <input type="text" name="user" class="form-control" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="pass">Contraseña</label>
        <input type="password" name="pass" class="form-control" />
    </div>
    <button type="button" onclick="submitLogin()" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>
</form>
